@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 2rem 1rem;
    font-family: "Poppins", sans-serif;
}

.awardCard {
    padding: 1.8rem 1.5rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Icon styling */
.icon {
    width: auto;
    height: 60px;
    margin-bottom: 1rem;
}

/* Text styles */
.awardTitle {
    font-size: 1.3rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 0.5rem;
}

.awardHighlight {
    font-weight: 500;
    color: #555;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.awardDescription {
    font-size: 0.9rem;
    color: #777;
    line-height: 1.4;
}

@media (max-width: 768px) {

    .cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }


    .awardCard {
        padding: 1.5rem 1rem;
        position: relative;
    }

    .awardTitle {
        font-size: 1.1rem;
    }

    .awardHighlight {
        font-size: 0.85rem;
    }
}

/* Mobile: 1-column */
@media (max-width: 550px) {

    .cards{
        gap: 0rem;
    }
    .awardCard {
        padding: 1.2rem;
        border-radius: 12px;
        position: relative;
    }

    .icon {
        height: 60px;
    }

    .awardHighlight {
        font-size: 0.85rem;
    }
}